<div class="container">
  <h1>Hello, <%= @input_word %></h1>
  <div>
    <form action="">
      <!-- action tells form data where to go after submit -->
      <label>Enter Anagram:</label>
      <br />
      <input id="user_word" type=text></input>
      <br />
      <input type=submit value="Make Anagrams"></input>
    </form>
  <div>
</div>
