<div class="container">
  <h1>Hello, <%= @input_word %></h1>

  <% unless @anagrams.nil? %>
    <ul>
      <% @anagrams.each do |anagram| %>
        <li><%= anagram.value %></li>
      <% end %>
    </ul>
  <% end %>


  <div>
    <form method="post" action="/word/anagrams/">
      <!-- action tells form data where to go after submit -->
      <label>Enter Anagram:</label>
      <br />
      <input name="user_word" type="text"></input>
      <br />
      <input type=submit value="Make Anagrams"></input>
    </form>
  <div>
</div>
